<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>5284762458-qlrl07msih637vmelc827tq0mmkcvep5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.5284762458-qlrl07msih637vmelc827tq0mmkcvep5</string>
	<key>API_KEY</key>
	<string>AIzaSyDx1OsGpAPWkl7N5RFuCJWhGz21TRcxg5c</string>
	<key>GCM_SENDER_ID</key>
	<string>5284762458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.navidsheikh.ArtSocialApp</string>
	<key>PROJECT_ID</key>
	<string>artsocialapp-7e9ee</string>
	<key>STORAGE_BUCKET</key>
	<string>artsocialapp-7e9ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:5284762458:ios:d00cab080136e45a021963</string>
</dict>
</plist>